[user]
	name = Stanislau Stasheuski
	email = stanislau.stasheuski@gmail.com
[filter "lfs"]
	name = Stanislau Stasheuski
	email = stanislau.stasheuski@gmail.com
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[push]
	default = simple
[pull]
	rebase = true
