*
!*/

#: Executables
!*.env
!*.lua
!*.nix
!*.ps1
!*.py
!*.rb
!*.sh

#: Configs
!*.pvsc
!*rc
!.git*
!config.toml

#: Project folders
!/atuin/**
!/bat/**
!/kitty/**
!/mc/**
!/Microsoft.WindowsTerminal/**
!/nix*/
!/nvim/**
!/.OpenFOAM/**
!/ParaView/**
!/powershell/**
!/scoop/**
!/.vim/**
!/zsh/**

#: Project files
!/apt.yaml
!/.bash_logout
!/.bash_profile
!/.stow-local-ignore
!/.zshenv
!/Brewfile
!/requirements.txt
!/starship.toml

#: Enforced folders
Code/**
/inkscape/**
/htop/**
/vlc/**

#: Enforced files
*.bak
*.old
*.prev
