*
!*/

#: Executables
!*.env
!*.lua
!*.nix
!*.ps1
!*.py
!*.rb
!*.sh

#: Configs
!*.pvsc
!*rc
!.git*
!config.toml

#: Projects

!/atuin/**
!/bat/**
/Code/**
/inkscape/**
/htop/**
!/kitty/**
!/mc/**
!/nix*/
!/nvim/**
!/.OpenFOAM/**
!/ParaView/**
!/powershell/**
!/scoop/**
!/.vim/**
/vlc/**
!/zsh/**

!/apt.yaml
!/.bash_logout
!/.bash_profile
!/.stow-local-ignore
!/.zshenv
!/Brewfile
!/requirements.txt
!/starship.toml

*.bak
*.old
*.prev

#: Enforced
Code/
